<h1>Edit your profile</h1>
<div style="float right" class="">
  <a href="#">Events Dashboard</a>
  <a href="/sessions/:id">Logoout</a>
</div>

<div class="container">
  <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <legend>Registration</legend>

    <div class="">
      <span class="First_name">First Name: </span>
      <input type="text" id="first_name" name = "user[first_name]">
    </div>

    <div class="">
      <span class="Last_name">Last Name: </span>
      <input type="text" id="last_name" name = "user[last_name]">
    </div>

    <div class="">
      <span class="Email">Email: </span>
      <input type="text" id="email" name = "user[email]">
    </div>

    <div class="">
      <span class="City">City: </span>
      <input type="text" id="city" name = "location[city]">
    </div>

    <div class="">
      <span class="State">State: </span>
      <select name="location[state]">
            <option value="TX">Texas</option>
            <option value="WA">Washington</option>
            <option value="IL">Illinios</option>
            <option value="KS">Kansas</option>
      </select>
    </div>
      <input type="submit" name="Register" value="Register">
</div>
</form>
