<h1>Garage sale</h1>

<div style="float right" class="">
  <a href="#">Events Dashboard</a>
  <a href="/logout">Logoout</a>
</div>

<p>Host: user[first_name]</p>
<p>Date: event[date]</p>
<p>Location:</p>
<p>People who are joining the event: </p>

<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>State</th>
    </tr>

    <tr>
      <td>event[name]</td>
      <td>event[location]</td>
      <td>event[state]</td>
    </tr>
  </table>
</div>
